MONGO_URI=mongodb+srv://user:password@cluster0.mongodb.net/stocklight?retryWrites=true&w=majority
PORT=8080

# Naver API (https://developers.naver.com)
NAVER_CLIENT_ID=your_naver_client_id
NAVER_CLIENT_SECRET=your_naver_client_secret
